apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workflow-templates
  namespace: argocd
spec:
  project: default
  source:
    path: templates
    repoURL: https://github.com/MaxBurgersSkyworkz/Argo-Workflows.git
    targetRevision: HEAD
    directory:
      recurse: true
      jsonnet: {}
      resource:
        kind:
          - Application.argoproj.io
  destination:
    server: https://kubernetes.default.svc
    namespace: argo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true